.content{

    background-color: #f0f0f0;
}

.col-6{

    padding: 0px;
}

.show-product{

    height: 400px;
    box-sizing: border-box;
    display: table;
    background-color: aquamarine;
}

.box{

    /*background-color: aquamarine;*/
    display: table;
    width: 100%;
    height: 570px;
    padding: 20px;
    box-sizing: border-box;
}

.text-content{

    display: table-cell;
    vertical-align: middle;
}

.text-content p{

    font-size: 20px;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {

    .col-6{

        width: 50%;
    }

    .box{

        height: 340px;
    }

    .text-content p{

        font-size: 15px;
    }
}

@media screen and (max-width: 360px) {

    .col-6{

        width: 100%;
    }

    .box{

        height: 140px;
        padding: 0px;
    }

    .products-title h1{

        font-size: 25px;
    }
}